{% extends "base.html" %}
{% block content %}
<h1>Users</h1>
<ul class="user-list">
    {% for user in users %}
    <li class="user-entry">
        <a href="{{ url_for('get_movies', user_id=user.id) }}" class="btn">{{ user.name }}</a>
        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post">
            <button type="submit">Delete User</button>
        </form>
    </li>
    {% endfor %}
</ul>

<h2>Add New User</h2>
<form action="{{ url_for('create_user') }}" method="post">
    <input type="text" name="name" placeholder="User Name" required>
    <button type="submit">Add User</button>
</form>
{% endblock %}
